# Databases
*.sqlite
*.db

# Machine Learning Models
*.pkl

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/
.env

# IDE / editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Local archives
*.zip
